---
import csvToJson from '../assets/images/csvToJson.png';
import passwordGenerator from '../assets/images/passwordGenerator.png';
import toolboxApp from '../assets/images/toolboxApp.png';
import toDoList from '../assets/images/toDoList.png';
---


<section id="projects" data-theme="dracula">
    <div class="min-h-screen p-12">
        <p class="text-xl font-bold">MY PROJECTS</p>
    <div class="p-6 flex justify-center">
    
        <!--Card Grid -->
        <div class="grid grid-cols-1 md:grid-cols-3 ">

        <!--CARD CSV TO JSON CONVERTER -->
        <div class="m-6 card bg-base-100 shadow-sm hover:bg-slate-500">  
            <div class="card-body items-center text-center">
                <h2 class="card-title">CSV to JSON Converter</h2>
                <figure class="m-2 object-center">
                    <img class="rounded-md"
                    src={csvToJson.src}
                    alt="Csv to Json screenshot" />
                </figure>

                <!--FRAMEWORK PILLS -->
                <div class="badge badge-outline badge-info h-auto w-max p-2">
                    <p>Made with:</p>
                    <img src="https://skillicons.dev/icons?i=react,js,bootstrap" />
                </div>
                
                <!--BUTTONS -->
                <div class="m-3 card-actions flex flex-nowrap">
                    <a href="https://beatrizalinecosta.github.io/csvToJson/" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                        </svg>
                    Demo
                    </a>
                    <a href="https://github.com/beatrizalinecosta/csvToJson" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    GitHub
                    </a>
                </div>
            </div>
        </div>

        <!--CARD PASSWORD GENERATOR-->
        <div class="m-6 card bg-base-100 shadow-sm hover:bg-slate-500">  
            <div class="card-body items-center text-center justify-between">
                <h2 class="card-title">Password Generator</h2>
                <figure class="m-2 object-center">
                    <img class="rounded-md"
                    src={passwordGenerator.src}
                    alt="Password Generator screenshot" />
                </figure>
                <!--FRAMEWORK PILLS -->
                <div class="badge badge-outline badge-info h-auto w-max p-2">
                    <p>Made with:</p>
                    <img src="https://skillicons.dev/icons?i=react,ts,tailwind" />
                </div>
                <!--BUTTONS -->
                <div class="m-3 card-actions flex flex-nowrap">
                    <a href="https://beatrizalinecosta.github.io/passwordGenerator/" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                        </svg>
                    Demo
                    </a>
                    <a href="https://github.com/beatrizalinecosta/passwordGenerator" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    GitHub
                    </a>
                </div>
            </div>
        </div>

        <!--CARD TOOLBOX-->
        <div class="m-6 card bg-base-100 shadow-sm hover:bg-slate-500">  
            <div class="card-body items-center text-center">
                <h2 class="card-title">Toolbox App</h2>
                <figure class="m-2 ">
                    <img class="rounded-md"
                    src={toolboxApp.src}
                    alt="Toolbox App screenshot" />
                </figure>
                <!--FRAMEWORK PILLS -->
                <div class="badge badge-outline badge-info h-auto w-max p-2">
                    <p>Made with:</p>
                    <img src="https://skillicons.dev/icons?i=react,ts,bootstrap" />
                </div>
                <!--BUTTONS -->
                <div class="m-3 card-actions flex flex-nowrap">
                    <a href="https://beatrizalinecosta.github.io/toolbox/" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                        </svg>
                    Demo
                    </a>
                    <a href="https://github.com/beatrizalinecosta/toolbox" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    GitHub
                    </a>
                </div>
            </div>
        </div>

        <!--CARD TODO LIST-->
        <div class="m-6 card bg-base-100 shadow-sm hover:bg-slate-500 ">  
            <div class="card-body items-center text-center">
                <h2 class="card-title">To Do Lists</h2>
                <figure class="m-2 ">
                    <img class="rounded-md"
                    src={toDoList.src}
                    alt="To Do List screenshot" />
                </figure>
                <!--FRAMEWORK PILLS -->
                <div class="badge badge-outline badge-info h-auto w-max p-2">
                    <p>Made with:</p>
                    <img src="https://skillicons.dev/icons?i=react,vite,js,bootstrap" />
                </div>
                <!--BUTTONS -->
                <div class="m-3 card-actions flex flex-nowrap">
                    <a href="https://beatrizalinecosta.github.io/mylists_todo_app/" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707z"/>
                        </svg>
                    Demo
                    </a>
                    <a href="https://github.com/beatrizalinecosta/mylists_todo_app" target="_blank" class="btn btn-outline btn-primary" id="btnProjects">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                        </svg>
                    GitHub
                    </a>
                </div>
            </div>
        </div>
        

        </div>
        
    </div>
        <a href="https://github.com/beatrizalinecosta?tab=repositories" target="_blank" class="btn btn-outline w-full">
        More at 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
            </svg>
        </a>
    </div>
</section>

<style>
    #projects{
        font-family: 'Courier New', Courier, monospace;
    }
</style>