---
import Typewriter from "astro-typewriter";
---

<section class="" id="home" data-theme="dracula">
	<div class="hero bg-base-200 min-h-screen"
	style="background-image: url(https://media.istockphoto.com/id/2055023629/pt/foto/4k-beautiful-color-gradient-background-with-noise-abstract-pastel-holographic-blurred-grainy.jpg?s=612x612&w=0&k=20&c=rbor1b3eT2JEjdzKpBUaWOlWXGb-7IQTgV_i5RnLZfA=);"
	>
			
			<div class="py-6">
				<Typewriter class="text-5xl font-bold font-mono " messages={["Hello, I'm Beatriz Costa","FrontEnd Developer | UX/UI Design | Web Design"]} />
			</div>	
				
			
		</div>
	</div>
</section>

